*,html,body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.mynav{
	background: #ffffff !important;
}

.logo_modify{
	margin-left: 70px;
	font-size: 2rem;
}

.modify a{
	margin-right: 10px;
}

.modify a:hover{
	border-bottom: 2px solid #0091EA;
	color: #0091EA !important;
}

.space_{
	margin-top: 70px;
	word-spacing: 1rem;
	letter-spacing: 0.018rem;
	font-family: Montserrat;
}

.card-body p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.015em;
}

.card-title{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 50px;
	letter-spacing: -0.015em;
}

.right_space{
	margin-right: -7rem;
}

.card1{
	background: linear-gradient(313.27deg, #2F80ED 0.2%, #56CCF2 100%);
	clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%); 
	border-radius: 24px;
}

.card{
	border: none;
}

.card img{
width: 4rem;
margin-left: 10px;
}

.cont{
	background: linear-gradient(313.27deg, #2F80ED 0.2%, #56CCF2 100%);
	margin-top: 120px;
}

.cont1{
	background: #0055C8;
	opacity: 0.7;
}

.nav-item a{
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	/* or 171% */
	letter-spacing: -0.015em;
}

.foot_ h4{
	font-family: Comfortaa;
	font-style: normal;
	font-weight: normal;
	font-size: 28.4444px;
	line-height: 32px;
	/* identical to box height */
	display: flex;
	align-items: center;
	letter-spacing: -0.015em;
}

.foot_ p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	/* or 175% */
	letter-spacing: -0.015em;
}

.foot_topic{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	/* identical to box height, or 160% */
	letter-spacing: -0.015em;
}

.cont1 p{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: -0.015em;

	color: rgba(255, 255, 255, 0.8);
}


.cards_space{
	margin-top: 110px;
}




/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }